@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {


}


.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}
